<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<header>
    <nav>
        <ul>
        <li><a [routerLink]="['/registeration']">REGISTER</a></li> 
        <li><a [routerLink]="['/display']">DISPLAY</a></li>
        <li><a [routerLink]="['/search']">SEARCH</a></li>
        <li><a [routerLink]="['/sort']">SORT</a></li>
    </ul>
    </nav>
</header>
<router-outlet></router-outlet>