<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">
    <h1>{{message}}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <legend class="text-center">Valid information is required to register. <span class="req"><small>
                                required *</small></span></legend>

                    <div class="form-group">
                        <label for="fname"><span class="req">* </span> First Name:</label>
                        <input required type="text" [(ngModel)]="user2.fname" name="fname" id="fname" 
                            class="form-control phone" maxlength="28" placeholder="Enter your first name..." />
                    </div>

                    <div class="form-group">
                        <label for="surname"><span class="req">* </span> Last Name:</label>
                        <input required type="text" [(ngModel)]="user2.surname" name="surname" id="surname"
                            class="form-control phone" maxlength="28" placeholder="Enter your last name..." />
                    </div>

                    <div class="form-group">
                        <label for="dob"><span class="req">* </span> Date of Birth: </label>
                        <input class="form-control" type="date" [(ngModel)]="user2.dob" name="dob" id="dob" required
                            placeholder="yyyy-mm-dd" />
                        <div id="errDob"></div>
                    </div>

                    <div class="form-group">
                        <label for="joiningDate"><span class="req">* </span> Date of Joining: </label>
                        <input class="form-control" type="date" [(ngModel)]="user2.joiningDate" name="joiningDate" id="joiningDate" required
                            placeholder="yyyy-mm-dd" />
                        <div id="errDoj"></div>
                    </div>

                    <div class="form-group">
                        <label for="mobileNo"><span class="req">* </span> Mobile Number : </label>
                        <input class="form-control" type="text" [(ngModel)]="user2.mobileNo" name="mobileNo" id="mobileNo"
                            placeholder="Enter Mobile Number" required />
                        <div id="errMob"></div>
                    </div>

                    <div class="form-group">
                        <label for="pincode"><span class="req">* </span> pincode : </label>
                        <input class="form-control" type="text" [(ngModel)]="user2.pincode" name="pincode" id="pincode"
                            placeholder="Enter Pincode" required />
                        <div id="errPin"></div>
                    </div>

                    
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="updateDetails()">
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>